.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

.header{
    display: flex;
    gap: 50px;
    position: fixed;
    z-index: 10;
    
    
}
.tooth{
    padding-right: 307px;
   
}

.header select{
   transition-duration: 3s;
    background-color:rgb(237, 123, 1);
    color:rgb(4, 255, 0);
    cursor: pointer;
    border-radius:15px
}

.header select:hover{
    background-color: black;
    color: yellow;
    border-radius: 50px;
}

.main{
    background-image: url(./images/div\ 1.png);
    width:1440px;
    height: 540px;
   
    padding-left: 135px;
}

.main h1{
    width: 689px;
    padding-top: 135px;
}



.main a button{
    background-color:green;
    color: white;
   text-align: center;
    border-radius:15px;
    transition-duration: 3s;
    width: 220px;
    height: 48px;

}

.main a button:hover{
    cursor: pointer;
background-color:blue;
color:white;
}

.images{
    cursor: pointer;
    gap: 24px;
    padding-top: 80px;
    padding-left: 128px;
    padding-right: 128px;
    
}



.toothmouth{
display: flex;
padding-top: 80px;
gap:16px;
padding-left: 128px;
padding-right: 128px;
}

.mained{
    display: flex;
    background-color:#06a6a4;
    width: 548px;
    height: 260px;
    padding-top: 7px;
    border-radius: 16px;
}

.mouthwash{
    width: Fixed (156px)px;
    height: Fixed (44px)px;
    top: 169px;
    left: 3px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 16px;
    opacity: 0px;
    
}



.mouthwash a button{
background-color:rgb(18, 238, 40);
color:white;
transition-duration: 3s;
}

.mouthwash a button:hover{
background-color:blue;
color:white;
}

.toothbrush{
    background-image:url(./images/Rectangle\ 18.png);
    width: 548px;
    height: 260px;
    background-color:aqua;
    padding-top: 7px;
    padding-left: 18.5px;
    border-radius:16px;
}

.toothbrush a button{
    background-color:rgb(18, 238, 40);
color:white;
transition-duration: 3s;
}

.toothbrush a button:hover{
    background-color:blue;
    color:white;  
}

.Trending{
    text-align: center;
    padding-top: 120px;

}

.natural a{
color:black;
}

.natural a two{
color:red;
}

