.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

.header{
    display: flex;
    gap: 50px;
    position: fixed;
    z-index: 10;
    
    
}
.tooth{
    padding-right: 307px;
   
}

.header select{
   transition-duration: 3s;
    background-color:rgb(237, 123, 1);
    color:rgb(4, 255, 0);
    cursor: pointer;
    border-radius:15px
}

.header select:hover{
    background-color: black;
    color: yellow;
    border-radius: 50px;
}

.main{
    background-image: url(./images/div\ 1.png);
    width:1440px;
    height: 540px;
   
    padding-left: 135px;
}

.main h1{
    width: 689px;
    padding-top: 135px;
}



.main a button{
    background-color:green;
    color: white;
   text-align: center;
    border-radius:15px;
    transition-duration: 3s;
    width: 220px;
    height: 48px;

}

.main a button:hover{
    cursor: pointer;
background-color:blue;
color:white;
}

.images{
    cursor: pointer;
    gap: 24px;
    padding-top: 80px;
    padding-left: 128px;
    padding-right: 128px;
  
}

.images img{
    transition: all 3s; 
}

.images img:hover{
cursor: pointer;
transform: scale(120%);

}



.toothmouth{
display: flex;
padding-top: 80px;
gap:16px;
padding-left: 128px;
padding-right: 128px;
}



.mained{
    display: flex;
    background-color:#06a6a4;
    width: 548px;
    height: 260px;
    padding-top: 7px;
    border-radius: 16px;
    transition: all 3s;


}

.mained:hover{
    transform: scale(120%);
    cursor: pointer;
}

.mouthwash{
    width: Fixed (156px)px;
    height: Fixed (44px)px;
    top: 169px;
    left: 3px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 16px;
    opacity: 0px;
  
}




.mouthwash a button{
background-color:rgb(18, 238, 40);
color:white;
transition-duration: 3s;
}

.mouthwash a button:hover{
background-color:blue;
color:white;
}

.toothbrush{
    background-image:url(./images/Rectangle\ 18.png);
    width: 548px;
    height: 260px;
    background-color:aqua;
    padding-top: 7px;
    padding-left: 18.5px;
    border-radius:16px;
    transition: all 3s;
}

.toothbrush:hover{
    transform: scale(120%);
    cursor: pointer;
}

.toothbrush a button{
    background-color:rgb(18, 238, 40);
color:white;
transition-duration: 3s;
}

.toothbrush a button:hover{
    background-color:blue;
    color:white;  
}

.Trending{
    text-align: center;
    padding-top: 120px;

}

.cart{
display: flex;
gap: 40px;

}

.natural{
padding-left: 50px;
transition: all 2s;
padding-top: 80px;
}



.natural:hover{
transform: rotateZ('angle');
cursor: pointer;
transform: scale(120%);
}

.natural a{
gap: 3px;

}


.natural a one{
color: black;
}

.natural a two{
color:gray;
}

.natural button{
border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 44px;
    background-color:#405741;
    color:white;
transition-duration: 3s;
}

.natural button:hover{
background-color:blue;
color:wheat;
cursor: pointer;
transform: matrix(1, -0.3, 0, 1, 0, 0);
}

.natural a button img{
   color:white;
   width: 20.01px;
   height: 20px;
   top: 2px;
   left: 1px;


}

.pure{
 background-image:url(./images/tooth\ cleaned.png);
 width: 1440px;
 height: 540px;
 padding-left: 135px;
 margin-top: 120px;
 
}

.pure h1{
    width: 559px;
    height: 108px;
   padding-top: 53px;
    
}

.pure button{
width: 168px;
height: 44px;
background-color:#405741;
border-radius:15px;
color:white;
transition: all 3s;
margin-top: 43px;
}


.pure button:hover{
background-color:blue;
color:white;
cursor: pointer;
transform: matrix(1, -0.3, 0, 1, 0, 0);
}

.testimonials{
text-align: center;
}

.about_people{
background-color:#e0f8ef;

}

.carts{
display: flex;
gap: 16px;
padding-left: 127.5px;
padding-top: 80px;
}

.courtney{
background-color:white;
z-index: 2;
width: 385px;
height: 200px;
transition: all 3s;
}

.courtney:hover{
    cursor: pointer;
    transform: scale(120%);
}

.courtneys{
align-items:center;
display: flex;
gap: 15px;

}

.courtneys p{
display: block;
}